In [ ]:
!pip install plotly==5.2.2

## Import des librairies ##

In [ ]:
#Imports librairies de base
import numpy as np
import pandas as pd
from datetime import datetime
#Bibliothèques pour Cross validation

#Affichage de HTML
from IPython.display import display, HTML
import plotly.graph_objects as go
import plotly.express as px

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# 1. Historique du cours Google

1.1 Chargement des données Google goog.csv. Mettre le chemin correct

In [ ]:
google_file='drive/My Drive/EPSI/Data/goog.csv'
google_cours = pd.read_csv(google_file,sep=';',decimal=',')
google_cours['Date']= google_cours['Date'].apply(lambda _: datetime.strptime(_,"%d/%m/%Y"))
google_cours.sample(10)

1.2 : Afficher l'évolution du cours (close) dans le temps.

1.3 Pour identifier la tendance créer un bar chart, avec une colonne par année. Afficher la valeur.

1.4 : Afficher la distribution des variations. La distributions suit-elle une loi normale ?

1.5 Calculer l'écart type (std) et la moyenne (mean) de la variation avec la fonction describe() de pandas 
<br>Quelle est la probabilité que la variation de cours soit supérieure à 6% pour une journée ?
<br> Que pensez-vous de ce résultat ?

1.6 Tracer une composition de plusieurs graphes (subplots) en vous inspirant du catalogue Plotly

#2. Etude Stack Overflow

## Acquisition des données

2.1 : Lire les données survey_results_public.xlsx. <br>Afficher 10 exemples et les informations du dataset (info)

2.2 En utilisant le graphe Ploty Express Treemap, Visualiser le nombre de répondant par pays.

2.3 Dans, des diagrammes séparés, représenter dans un pie Chart la proportion des genres (Gender) pour l'Inde, la France, les USA et l'Allemagne

## Creation d'un DataFrame pour l'étude des salaires

2.4 : Afficher les boxplots pour les champs numériques Age	CompTotal	ConvertedComp	WorkWeekHrs	YearsCode. <br> Tip: Les colonnes Age1stCode et YearsCode à besoin d'un traitement préalable et d'être transformer en float.

2.5 :  Creer un nouveau DataFrame excluant les lignes avec des outliers ou des valeurs nulles.<br>Réafficher les boxplots

## Distribution comparée des salaires

2.6 : En utilisant Plotly Express, Afficher dans le même graphique les distributions comparées des salaires en $ (ConvertedComp) pour l'Inde, la France, les USA et l'Allemagne

2.7 Superposer en transparence les histogramme de salaires pour la france et l'Allemagne

## Analyse Salaire / Ancienneté

2.8 Afficher les scatters plots Age / Salaire par pays (Inde, France, USA et Allemagne) en distinguant Man et Woman. <br> Pour simplifier les graphiques. Regrouper préalablement dans "others" toutes les valeurs autres que 'Man' et 'Woman' (y compris NaN)

2.9 Même tache pour les variables 'Age1stCode', 'ConvertedComp', 'WorkWeekHrs', 'YearsCode','YearsCodePro'.

2.10 En calculant la variable R2, déterminer la variable la mieux corrélée avec le salaire en France et aux USA.

## Analyse des technos utilisées et des souhaits  (en partant des données complètes)

2.11 Faire un split de la colonne LanguageWorkedWith dans 5 nouvelles colonnes : LanguageWorkedWith_1 à LanguageWorkedWith_5

2.12 : creer un nouveau DataFrame "Long" concatenant en lignes les colonnes LanguageWorkedWith_1 à LanguageWorkedWith_5. <br> créer un dataframe contenant le nombre d'occurence de chaque technologie

2.13 : creer un autre nouveau DataFrame "Long" concatenant en lignes les colonnes LanguageDesireNextYear_1 à LanguageDesireNextYear_5 <br> créer un dataframe contenant le nombre d'occurence de chaque technologie

2.14 Concaténer les deux dataframes verticalement (axis=1) pour obtenir la comparaison entre travaillé et désiré <br> Ajouter une colonne "Evolution" égale à (Désiré - Travaillé)/Travaillé

2.15 Représenter les évolutions dans un diagramme en barre

2.16 : Représenter dans un scatter plot les technologies avec les coordonnées 'Worked With' et 'Desired'. Ajouter une couleur pour l'évolution.

2.17 En utilisant une double boucle sur les technologies, créer yn DataFrame à 3 colonnes:
- Technologie_pratiquee
- Technologie_souhaite
- Nombre d'association
Ex : Nombre de personnes faisant du C++ et voulant faire du Java

2.18 : Afficher le DataFrame de 2.17 dans une heatmap annotée

Répéter l'opération pour les champs suivants:<br> WebframeWorkedWith/WebframeDesireNextYear, <br>PlatformWorkedWith/PlatformDesireNextYear,  <br>LanguageWorkedWith/LanguageDesireNextYear,<br> DatabaseWorkedWith/DatabaseDesireNextYear

2.15 (Optionnel) : Réaliser une compositition de graphiques (subplots) en utilisant les données stack_overflow, sur le th_se me votre choix.